  #content-mobile {
	  display: none;
	  width:0px;
	  }

  @media screen and (max-width: 768px) {

  #content-mobile {
	  display: block;
	  }
	  .head{
		  max-width:30px;
		  float: left;
	  }
	  li>a>p {
		  margin-left:50px!important;
	  }

}
  
  
  